:root {
  --background-color: #ffffff;
  --background-color-second: #fdfcff;
  --text-color: #272727;
  --border-color: rgba(0, 0, 0, 0.09);
  --text-color-two:rgba(0,0,0,0.5);
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body[data-theme='dark'] {
  --background-color: #121212;
  --background-color-second: #191717;
  --text-color: #ffffff;
  --text-color-two:rgba(255,255,255,0.5);
  --border-color: rgba(255, 255, 255, 0.08);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}



.even {
  width: 10px;
  height: 10px;
  border-left: 0.5px solid transparent;
  border-top: 0.5px solid transparent;
  transform: rotate(180deg);


}

.cell {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-left: 0.5px solid var(--border-color);
  border-top: 0.5px solid var(--border-color);

  transition: all 0.3s ease-in-out;

}

@keyframes glow {
  0% {
    transform: scale(0.5);
    opacity: 1;
    transform: rotate(180deg);
    background-image: linear-gradient(to right top, #fff6d4, #ffe9cb, #ffdcca, #ffd0cf, #ffc7d9);
  }

  50% {
    transform: scale(0.5);
    opacity: 0.7;

    background-image: linear-gradient(to right top, #ffc7d9, #ffd0cf, #ffdcca, #ffe9cb, #fff6d4);
  }

  100% {
    transform: scale(0-2.5px);
    opacity: 1;

    background-image: linear-gradient(to right top, #d7ffd4, #fef2c3, #ffe5cd, #ffdfe7, #fee1ff);
  }
}

.animated-cell {
  animation: glow 1.5s infinite ease-in-out;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 20px;
  backdrop-filter: blur(2px);
}

.header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.themeToggleButton {

  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 14px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 50pc;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.heroSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;


}

.heroSectionContainer {
  width: 80%;
}

.sde {
  position: relative;
  z-index: 9999 !important;
  background: linear-gradient(to right, #FF6E7F, #DFFB6E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* color: #ffffff; */
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.1);  
  font-size: 48px;
  text-align: center;
  height: 40px;
  padding-top: 25px;
  line-height: 2px;
  letter-spacing: 2px;
}

.resumetalsk {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttonConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background-color);
  padding: 12px 25px;
  border-radius: 50px;
  z-index: 9;

  border-left: 0.5px solid var(--border-color);
  border-top: 0.5px solid var(--border-color);

  
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;


}

.buttonConatiner:hover {
  background: #FFD700;
}

.buttonConatiner a {
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
}

.bgImage {
  width: 90%;
  height: 950px;
  background: rgba(255, 255, 255, 0.3);
  filter: blur(100px);
  margin-top: 130px;
  position: absolute;
  top: 0px;
  left: 5%;
}
.bgImagegreen{
  width: 70%;
  height: 950px;
  background: rgba(255, 255, 255, 0.3);
  filter: blur(200px);
  margin-top: 130px;
  position: absolute;
  top: 0px;
  left: 5%;

}

.bgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgMain {
  width: 80%;
  position: relative;
}

.prjectSections {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projectContainer {
  width: 100%;
  border: 1px solid var(--border-color);
  background: rgba(0,0,0,0.03);
  z-index: 9;
  margin-top: 150px;
  border-radius: 10px;
  padding: 20px;
}
.projectContainerSecond{
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 10px;
}
.project-card{
  display: flex;
  gap: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--background-color);
}
.project-card img{
   width: 300px;
   height: 250px;
   border-radius: 10px;
}
.project-card p{
  font-weight: 300;
}
.techStack{
  border: 1px solid var(--border-color);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--background-color);
}
.giveLiveButton{
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background-color);
  padding: 9px 25px;
  border-radius: 50px;
 margin-top: 20px;
 border-left: 0.5px solid var(--border-color);
 border-top: 0.5px solid var(--border-color);

 
box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.07) 0px 24px 24px -8px;
 
}
.giveLiveButton a{
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
}
.Skillmain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}
.skillContainer{
  width: 80%;
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  padding-top: 10px;
  
}
.skill-card{
  position: relative;
  z-index: 99;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
}
.skill-card:hover{
  transform: rotate(180deg);
  transform: scale(1.2);
  transition: 1.2s;
}
.skill-card img{
  width: 40px;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  filter: brightness(0);
  filter: grayscale(100%);
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.07) 0px 24px 24px -8px;

}
.stick{
  width: 65%;
  height: 8px;
  background-image: linear-gradient(to right top, #dffb6e, #f4df5a, #ffc255, #ffa65b, #ff8c67, #ff8c67, #ff8c67, #ff8c67, #ffa65b, #ffc255, #f4df5a, #dffb6e);  
  position: absolute;
  border-radius: 200%;
  bottom: -6px;
}
.personalProject {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
  
}

.personalProjectContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative; /* Important for relative positioning */
  gap: 40px;
  padding: 20px;
}

.personalProjectCard {
  padding: 10px; /*Increased padding*/
  border-radius: 10px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  width: 44%;
  position: relative; /* Needed for the absolute positioning of the background */
  background: var(--bg-color-second);
}
.personalProjectCard a{
  font-size: 13px;
}

.projectImage {
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px; 
  width: 100%; 
  height: 180px; 
  z-index: 9 !important;
  margin-top: 20px;
  object-fit: cover;
}


#projectsButton {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
  padding: 10px 15px !important;
  margin-top: 15px;
  display: inline-flex; 
  align-items: center; 
  gap: 5px; 
  margin-bottom: 10px;
}

#projectsButton a {
  text-decoration: none; 
}

.projectBgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.projectBackground {
  top: 90%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.projectBackground1 {
  top: -10%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.personalProjectCard:hover .projectBackground {
  animation: moveBackgroundSquare 5s linear infinite alternate;
  filter: blur(150px);
}

.personalProjectCard:hover .projectBackground1 {
  animation: moveBackgroundSquareReverse 5s linear infinite alternate;
  filter: blur(150px);
}

@keyframes moveBackgroundSquare {
  0%   {left: 60%; top: 90%; transform: translate(-50%, -50%);}
  25%  {left: 90%; top: 90%; transform: translate(-50%, -50%);} /* Move Right */
  50%  {left: 90%; top: -10%; transform: translate(-50%, -50%);} /* Move Up */
  75%  {left: 10%; top: -10%; transform: translate(-50%, -50%);} /* Move Left */
  100% {left: 60%; top: 90%; transform: translate(-50%, -50%);} /* Move Down (Back to start) */
}

@keyframes moveBackgroundSquareReverse {
    0%   {left: 40%; top: -10%; transform: translate(-50%, -50%);}
    25%  {left: 10%; top: -10%; transform: translate(-50%, -50%);} /* Move Left */
    50%  {left: 10%; top: 90%; transform: translate(-50%, -50%);} /* Move Down */
    75%  {left: 90%; top: 90%; transform: translate(-50%, -50%);} /* Move Right */
    100% {left: 40%; top: -10%; transform: translate(-50%, -50%);} /* Move Up (Back to start) */
}


.projectBackground {
  position: absolute;
  top: 130%;
  left: 50%; 
  transform: translate(-50%, -50%);
  filter: blur(140px);
  width: 300px; 
  height: auto;
  opacity: 0.6; 
 
}
.projectBackground1{
  position: absolute;
  top: -40%;
  left: 80%; 
  transform: translate(-50%, -50%);
  filter: blur(100px);
  width: 300px; 
  height: auto;
  opacity: 0.7; 
}
.number{
  border: 1px solid var(--border-color);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  background: var(--background-color);
  margin-top: 10px;
}
.socialmain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialContainer .themeToggleButton{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  backdrop-filter: blur(2px);
}
.snake{
  position: relative;
  z-index: 99;
  margin-top: -25px;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}
.timeLineMain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timelineCOntainer{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
}
.layout{
  width: 100%;
  height: 500px;
  display: flex;
  border-left: 1.5px solid var(--border-color);
  border-bottom: 1.5px solid var(--border-color);
  position: relative;
  padding-bottom: 1px;
  overflow: hidden;

}
.layout div{
  border-right: 1.5px solid var(--border-color);
  width: 10%;
  height: 100%;
}
.layout div:nth-child(odd) {
  background-color: var(--background-color);
}

.layout div:nth-child(even) {
  background-color: var(--background-color-second);
}
.bgwhite{
  position: absolute;
  top: -20px;
  filter: blur(40px);
  left: 15%;
  width: 70% !important;
  height: 50% !important;
  background: var(--background-color);
  border: 1px solid red;
}
.timelimeContent{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 999;
  display: flex;
  padding: 10px;
}
.contentdiv{
  width: 25%;
  height: 100%;
}
.timelimeContent div:nth-child(odd){
   display: flex;
   justify-content:space-around;
   flex-direction: column;
   padding-left: 10px;
}
.timelimeContent div:nth-child(even){
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  padding-left: 10px;


}
.contentdivinsight{
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding:8px 15px;
  border-radius: 10px;
}
.achievement{
   color: var(--text-color-two);
}
.freelancer{
  height: 100%;
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.freelancerinsight{
  background: var(--background-color);
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.freelancerinsight input{
  padding: 10px;
  margin-top: 20px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  font-weight: 200;
  letter-spacing: 1px;
  background: var(--background-color);
  color: var(--text-color);
}
.freelancerinsight button{
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
}

@media screen and (max-width:600px) {
  .resumetalsk{
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .heroSectionContainer{
    width: 95% !important;
    padding: 5px;
  }
  .project-card{
    flex-direction: column;
  }
  .projectContainer{
    width: 95% !important;
    margin-top: 70px !important;
    padding: 6px !important;
  }
  .projectContainerSecond{
    padding: 0px !important;
    background: transparent !important;
  }
  #socialIcons{
    gap: 15px !important;
  }
  .project-card img{
    width: 95% !important;
    height: 160px !important;
  }
  .project-card p{
    text-align: justify;
  }
  .project-card span{
    margin-top: 5px;
  }
  .bgMain{
    width: 95% !important;
  }
  .personalProjectContainer{
    width: 95% !important;
  }
  .personalProjectCard{
    width: 90% !important;
  }
  .timelimeContent{
    flex-direction: column;
    padding: 0px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 25px;
  }
  .contentdiv{
    width: 95% !important;
  }
  .freelancer{
    width: 100% !important;
    padding: 10px !important;
  }
  .timelineCOntainer{
    width: 95% !important;
    margin-top: 30px !important;
  }
  .bgwhite{
    display: none;
  }
  .timelimeContent div:nth-child(odd){
    padding-left: 0px !important;
    gap: 25px;
  }
  .contentdivinsight p{
    padding: 6px !important;
  }
  .timelimeContent div:nth-child(even){
    padding-left: 0px !important;
    gap: 25px;
  }
  .header-container {
    width: 95% !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .sde{
    font-size: 17px !important;
  }
  .layout{
    border-left: 1.5px transparent !important;
    border-bottom: 1.5px solid transparent !important;  
    height: 1500px;

  }
  #last{
    border-right: 1px solid transparent !important;
  }
  #frelanceheading{
    padding-left: 10px !important;
  }
  .freelancerinsight input,button{
    margin-left: 10px;
    padding: 20px;
  }
  .cellRender{
    height: 100vh !important;
    position: fixed;
  }
  .message{
    color: var(--text-color);
  }
  .bgImage{
    top: -50px !important;
    height: 1700px !important;
  }
  .form{
    top: 1% !important;
    left: 3% !important;
  
  }
}
.form {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 15px;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: var(--background-color);
  border: 1px dashed var(--border-color);
  padding-bottom: 30px;
  position: fixed;
  top: 10%;
  left: 38%;
  z-index: 9999;

}
.submitbutton {
  width: 90%;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: var(--background-color);
  border: 2px solid var(--border-color);
  margin-top: 10px;
  color: var(--text-color);
}
.submittext{
  font-weight: 300 !important;
  letter-spacing: 1px;
}
.form input, textarea{
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.messageopner{
  position: relative;

  border-radius: 100px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  z-index: 999 !important;


box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;



}
.fixedbutton{
  position: fixed;
  bottom: 10%;
  right: 30px;

}
.talkmessage{
  color: var(--text-color);
}