@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


@layer base {
  img, video {
    max-width: none !important; /* Remove the default max-width */
    height: unset; /* Remove the default height: auto */
  }
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

